* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

/* Header*/
header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  background-color: #bd6d6d;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

.logo-nombre {
  color: rgb(8, 8, 8);
  font-size: 40px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}

ul {
  list-style: none;
  display: flex;
  font-size: 25px;
}
/*Slider*/
#slider {
  margin-top: 2%;
}

/*Cards*/
#contenedor {
  width: 100%;
  display: flex;
  max-width: 1100px;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

/*Footer*/
footer {
  padding: 50px;
  background-color: #bd6d6d;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  height: 200px;
}

.footer-content h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.icons {
  width: 40px;
  height: 40px;
}

.social-icons {
  list-style: none;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
}

.news-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.news-input {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  border-radius: 10px;
}

.news-button {
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 15;
  position: absolute;
  top: 1px;
  margin-left: 350px;
  height: 90%;
}

.footer-content {
  max-width: 77.5rem;
  margin: auto;
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

/*Contacto*/
.mt-5 {
  margin-bottom: 5%;
}

.contactohtml {
  background-color: black;
  margin: auto;
}

.cont {
  color: white;
  text-align: center;
}

p.cont {
  font-size: 20px;
  line-height: 5px;
}

.row.g-3 {
  width: 700px;
  padding-top: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  display: flex;
  margin: auto;
  padding-bottom: 1em;
  font-size: x-large;
  color: #fff;
}

/*Ubicaciones*/
.maps {
  align-items: center;
  padding: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sobre nosotros*/
.allnosotros {
  background-color: black;
  margin: auto;
}
.h2-nosotros,
.h3-nosotros {
  color: #bd6d6d;
  text-align: center;
}
.p-nosotros {
  color: #fff;
  text-align: center;
  margin-inline: 20%;
  font-size: large;
}
#acerca-de-nosotros {
  margin-block: 5%;
}
.comentario-button {
  text-align: center;
  margin-top: 3%;
}

.iimg3,
.iimg2,
.iimg1 {
  text-align: center;
}
/*menu*/
